<div class="container">
  <div class="new_form">
<%= form_for([@project, @project.tasks.build], remote: true) do |f| %>
    <%= f.text_field :title%>
    <td><div id="star-priority"></div></td>
    <div class='input-group date' id='datetimepicker1'>
      <%= f.text_field :deadline, class: 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  <%= f.submit 'Save task',:class => "btn btn-primary"                           %>
<% end %>
</div>
</div>

<script type="text/javascript">



    $(function () {
        $('#datetimepicker1').datetimepicker(
        );
    });

    $('#star-priority').raty({
        path: '/assets',
        scoreName: 'task[priority]'
    });
</script>


