<tr class="tasks" id="row_<%= task.id %>">
 	<li><%= best_in_place task, :title, :classes => 'name-edit'%></li>
</tr>

    <div class="row">
  <div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;"></div>
</div>