<tr class="tasks" id="row_<%= task.id %>">
 	<li><%= best_in_place task, :title, :classes => 'name-edit'%>
 				<%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, task, remote: true,
                  class: 'btn btn-primary btn-xs',
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
 	 	</li>
</tr>

