<br>	
	<tr class="projects" id="row_<%= project.id %>">

	 	<td><%= best_in_place project, :title, :classes => 'name-edit'%></td>
		<td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, project, remote: true,
                  class: 'btn btn-primary btn-xs',
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %></td>
	 

	</tr>
</br>
