@import "bootstrap";

body, html {
    height: 100%;
    width: 100%;

}

* {
  margin: 0;
  padding: 0;
}
.content {
  min-height: calc(100vh - 100px);
}


.content{
    display: flex;
    height: 90%;
}


 .myContent{  
      margin-left:auto;
  margin-right:auto;
width:45%;}

@media (max-width:767px){
  .myContent{ width: 70%;}

}
@media (max-width:990px){
    .myContent{ width: 70%;}
}

body {
background: rgba(179,179,179,1);
background: -moz-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(191,191,191,1) 15%, rgba(217,217,217,1) 41%, rgba(254,220,119,1) 48%, rgba(254,220,119,1) 51%, rgba(241,206,111,1) 60%, rgba(194,136,0,1) 67%, rgba(237,188,53,1) 75%, rgba(243,164,53,1) 87%, rgba(243,164,53,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,179,179,1)), color-stop(15%, rgba(191,191,191,1)), color-stop(41%, rgba(217,217,217,1)), color-stop(48%, rgba(254,220,119,1)), color-stop(51%, rgba(254,220,119,1)), color-stop(60%, rgba(241,206,111,1)), color-stop(67%, rgba(194,136,0,1)), color-stop(75%, rgba(237,188,53,1)), color-stop(87%, rgba(243,164,53,1)), color-stop(100%, rgba(243,164,53,1)));
background: -webkit-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(191,191,191,1) 15%, rgba(217,217,217,1) 41%, rgba(254,220,119,1) 48%, rgba(254,220,119,1) 51%, rgba(241,206,111,1) 60%, rgba(194,136,0,1) 67%, rgba(237,188,53,1) 75%, rgba(243,164,53,1) 87%, rgba(243,164,53,1) 100%);
background: -o-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(191,191,191,1) 15%, rgba(217,217,217,1) 41%, rgba(254,220,119,1) 48%, rgba(254,220,119,1) 51%, rgba(241,206,111,1) 60%, rgba(194,136,0,1) 67%, rgba(237,188,53,1) 75%, rgba(243,164,53,1) 87%, rgba(243,164,53,1) 100%);
background: -ms-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(191,191,191,1) 15%, rgba(217,217,217,1) 41%, rgba(254,220,119,1) 48%, rgba(254,220,119,1) 51%, rgba(241,206,111,1) 60%, rgba(194,136,0,1) 67%, rgba(237,188,53,1) 75%, rgba(243,164,53,1) 87%, rgba(243,164,53,1) 100%);
background: linear-gradient(to bottom, rgba(179,179,179,1) 0%, rgba(191,191,191,1) 15%, rgba(217,217,217,1) 41%, rgba(254,220,119,1) 48%, rgba(254,220,119,1) 51%, rgba(241,206,111,1) 60%, rgba(194,136,0,1) 67%, rgba(237,188,53,1) 75%, rgba(243,164,53,1) 87%, rgba(243,164,53,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#f3a435', GradientType=0 );
background-position: center center;
background-repeat: no-repeat; 
background-attachment: fixed;  
background-size: cover;
}





p{
  width:90%;
  max-width:1080px;
  margin-left:auto;
  margin-right:auto;
  font-family:"Times New Roman";
}

h1 {
  font-size: 3em;
  text-align: center;
  
}

h2 {
  font-size: 1.2em;
  letter-spacing: -0.0625em;
  text-align: center;
  color: #999!important;
}



/*ul {font-size:1.5em; }
*/





/*
a{
      margin: auto;
  font-family:"Times New Roman";
  font-size:3em;
}
*/




.footer {
  font-size: 1.2em;
  letter-spacing: -0.0625em;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: none;
}




/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


.projects {
  list-style: none;
}

.right{
  float:right;
}